<div class="sitemap">

<dl>
  <h3 class="sitemap"><a href="<%=information_path%>"  target="_blank">Advice and Information</a></h3>
</dl>

</div>

  <p><a href="<%=education_path%>"  target="_blank"> <strong> Your Education </strong> </a></p>
    <ul><a href="<%=colleges_path%>"  target="_blank">Education in Sheffield </a></ul>
    <ul><a href="<%=support_path%>"  target="_blank">My Support </a></ul>
    <ul><a href="<%=ehcp_path%>"  target="_blank">Education and Health Care Plan (EHCP) </a></ul>

  <p><a href="<%=adult_path%>"  target="_blank"> <strong> Leisure </strong> </a> </p>

  <p><a href="<%=adult_path%>"  target="_blank"><strong> Becoming an Adult </strong>  </a></p>
    <ul><a href="<%=internships_path%>"  target="_blank">Supported Internships</a></ul>
    <ul><a href="<%=employment_path%>"  target="_blank">Employment and Careers </a></ul>
    <ul><a href="<%=transport_path%>"  target="_blank">Getting Around</a></ul>

<div class="sitemap">

  <dl>
    <h3 class="sitemap"><a href="<%=news_path%>"  target="_blank">Events</a></h3>
  </dl>

  <dl>
    <h3 class="sitemap"><a href="<%=game_path%>"  target="_blank">Game</a></h3>
  </dl>

  <dl>
    <h3 class="sitemap"><a href="<%=feedback_path%>"  target="_blank">Feedback</a></h3>
  </dl>

</div>

<div class="sitemap">

<dl>
  <h3 class="sitemap"><a href="<%=myAccount_path%>"  target="_blank">My Account</a></h3>
</dl>

</div>
