<!DOCTYPE html>
<head>
  <title> Advice and Information </title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>


<h1> Advice and Information </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li class="active">Advice and Information</li>
</ol>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <a href= <%=education_path%> class="thumbnail">
        <img src="/assets/education.png" alt="Education"> </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=life_path%> class="thumbnail">
        <img src="/assets/life.png" alt="Life" > </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=health_path%> class="thumbnail">
          <img src="/assets/health.png" alt="Health"></a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=authority_path%> class="thumbnail">
          <img src="/assets/authority.png" alt="What is a Local authority"></a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=offer_path%> class="thumbnail">
          <img src="/assets/offer.png" alt="What is a Local offer?"></a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= "http://www.sheffielddirectory.org.uk/kb5/sheffield/directory/results.page?localofferchannel=4" class="thumbnail">
          <img src="/assets/support.png" alt="List of Services"></a>
    </div>
</div>
