
<head>
  <title>Support</title>
  <%= javascript_include_tag 'resize' %>
  <link href="assets/resize.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div>
    <div id="controls">
      <a href="#" id="small">A</a>
      <a href="#" id="medium" class="selected">A</a>
      <a href="#" id="large">A</a>
    </div>

<h1>My Support</h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li><a href="<%=education_path%>">Your Education</a></li>
  <li class="active">My Support</li>
</ol>

<!--put cancan here? for admin?-->
  <!-- <%= tinymce_assets %>
  <%= text_area_tag :content, "", :class => "tinymce", :rows => 40, :cols => 120 %> -->

<h3 class="section-header">
 <a data-toggle="collapse"  href="#definition" aria-expanded="false" aria-controls="definition">
   What are Special Educational Needs?
 </a>
 </h3>

<div class="collapse" id="definition">
  <div class="card card-block">
      A young person has special educational needs (SEN) if they have a learning difficulty or
      disability which means that they need special educational provision.
      (You might also have heard of SEND, which means ‘Special Educational Needs and Disabilities’).
      Special educational provision is provision which is different from, or additional to,
     which is normally available to pupils of the same age. Sometimes the provision is a special school or a resource in a mainstream school. It could also be support from a person like a teaching Assistant (TA). <p>
  </div>
</div>

<h3 class="section-header">
 <a data-toggle="collapse"  href="#difficulties" aria-expanded="false" aria-controls="difficulties">
   Difficulties Special Educational Needs Pupils Face </a>
 </h3>

<div class="collapse" id="difficulties">
  <div class="card card-block">
    <p>Having a learning difficulty or disability means that a pupil has much greater difficulty in learning than most pupils of the same age,
      or a disability which makes it more difficult for them to use the school facilities. For example, they may have problems with: </p>
    <li> Areas of learning, like reading, writing or number work </li>
    <li> Expressing themselves or understanding what others are saying </li>
    <li> Making friends or relating to adults </li>
    <li> Managing their emotions or behaviour </li>
    <li> Problems with seeing, hearing, or moving around </li>
    <li> Medical conditions that impact on learning </li>
    <li> Mental health difficulties, e.g. anxiety or depression </li>
    <br>
    <p> Having SEN is very common. In Sheffield, 16% of the school population (around 13,000 pupils) have SEN. <p>
    <p>Children who struggle at school for other reasons – for example, because they have suffered a bereavement when someone close to them has died,
      or because English is not their first language – would not be thought of as having SEN. Support for these children is provided through different routes. <p>
  </div>
</div>

<h3 class="section-header">
 <a data-toggle="collapse"  href="#who" aria-expanded="false" aria-controls="who">
   Who can help? Who’s who in SEN </a>
 </h3>

  <div class="collapse" id="who">
    <div class="card card-block">
      <li> <strong>Teaching Assistant:</strong> Also known as Learning Support Assistant. Supports the teacher, and may work with pupils with SEN on an individual, small-group or whole-class basis.</ul>
      <li> <strong>SENCO:</strong> Special Educational Needs Co-ordinator. A qualified teacher who has responsibility for co-ordinating the SEN provision within a school. </li>
      <li> <strong>Specialist Teacher:</strong> A teacher with skills in working with children with specific needs, such as autism, hearing or visual impairment. </li>
      <li> <strong>Educational Psychologist:</strong> A professional who is able to assess a young person’s special educational needs and to give advice to schools as to how the young person’s needs can be met. Educational Psychologists provide independent advice in assessments.
        There is a team of Educational Psychologists in Sheffield. They support the identification and meeting of needs. </li>
      <li><strong> Family of Schools SENCO:</strong> A SENCO who co-ordinates SEN provision and processes (e.g. transition planning) across a family of schools. A family of schools usually consists of one secondary school and its primary feeder schools. </li>
      <li><strong> Locality SENCO:</strong> A SENCO who oversees SEN provision across a locality. (Sheffield has seven localities; each consists of several families of schools which are located in a specific area of the city.) Locality SENCOs provide training and guidance for SENCOs in their area and make sure
        that approaches like the MyPlan and Sheffield Support Grid are used.</li>
      <li><strong>SEND 0-25 Team:</strong> Part of Sheffield City Council, this team deals with EHC plans and specialist placements. </li>
    </div>
  </div>
<br>
</div>
</body>
