<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- to make it responsive -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <!-- for explorer -->
    <%= render "layouts/shim" %>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main role="main">
      <div class="container">
        <%= yield %>

        <!-- if in development mode show errors -->
        <% debug(params) if Rails.env.development? %>
      </div>
      <!--for js file for calendar to pop up forms-->
      <div id="remote_container"></div>

    </main>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
  <%= render "layouts/footer" %>


</html>
