<% if !user_signed_in? %>
<p class="sign_in"><%= link_to "Login", new_user_session_path %></p>
<p class="sign_up"><%= link_to "Register", new_user_registration_path %></p>

<% end %>
<% if user_signed_in? %>
<h1> Welcome Back <%= current_user.first_name %>! </h1>
  <div class="buttons">
    <!-- change later to link_to "Pinned Events", pin_path -->
    <button class= "button"><%= link_to "Pinned Events", news_path%></button>
    <button class= "button"><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></button>
  </div>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
