<p class="notice alert-success" role="alert">
  <%= notice %>
</p>

<% if !user_signed_in? %>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary btn-lg"><%= link_to "Login", new_user_session_path %></button>
<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success btn-lg sign_up"><%= link_to "Register", new_user_registration_path %></button>

<% end %>


<% if user_signed_in? %>

<h1> Welcome Back <%= current_user.first_name %>! </h1>
  <div class="buttons">
    <!-- change later to link_to "Pinned Events", pin_path -->
    <button class= "button"><%= link_to "Pinned Events", news_path%></button>
    <button class= "button"><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></button>
  </div>
<% end %>
